body{
    background-color: #eff6ff;
    padding: 100px;
    margin: 0px auto;
}
.main-container{
    padding: 0px;
    width: 80%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 0px 10px;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 50px;
}
header .ancor a{
    text-decoration: none;
    margin: 20px;
    color: grey;
    font-size: 17px;
}
header .ancor a:hover{
    color: black;
}
header .logout-content a{
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}
header .hamburger svg{
    cursor: pointer;
}
.hamburger{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    text-decoration: none;
    margin: 20px;
    font-size: 17px;
    display: block;
}
.dropdown-content .ancor2{
    color: grey;
}
.dropdown-content .ancor2:hover{
    color: black;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.logout{
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
}
footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.container{
    background-color: whitesmoke;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0px auto;
    width: 80%;
}
button{
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    border: none;
    background-color: blue;
    border-radius: 10px;
    margin-left: 45%;
}
button:hover{
    color: white;
}
h1{
    text-align: center;
    color: #003366;
    margin-bottom: 0px;
    margin-bottom: 15px;
}
.timer{
    text-align: center;
    color: #003366;  
    margin-bottom: 7px;
}
.options{
    display: flex;
    flex-direction: column;
}
.result{
    text-align: center;
    margin-top: 20px;
}
.question{
    margin-left: 50px;
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    border-color: lightblue;
}
